body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b4b4b4; /* Grey background color */
    background-image: url('afamosa.jpg');
    background-size: cover; /* Adjusts the image to cover the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
}

.container {
    width: 90%;
    margin: 20px auto;
}

.blue-box {
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.blue-box a {
    color: white;
    text-decoration: none;
}

.box {
    background-color: #e0f7fa; /* White background color for boxes */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 8px; /* Rounded corners for boxes */
    border: 1px solid #ddd; /* Light border for boxes */
}

.details {
    margin-bottom: 20px;
}

.details-included-container {
    display: flex;
    justify-content: space-between;
}

.car-features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.availability, .pricing {
    text-align: center;
    margin-bottom: 20px;
}

.payment-methods {
    text-align: left; /* Align text to the left */
    margin-bottom: 20px;
    margin-top: 20px; /* Add space above */
    padding: 20px; /* Add padding inside the box */
    border-radius: 8px; /* Rounded corners for the box */
    background-color: #f8f9fa; /* Light grey background for the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.availability input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 4px; /* Rounded corners for date input */
    border: 1px solid #ccc; /* Border color for date input */
}

.pricing ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;
}

.pricing ul li {
    margin-bottom: 5px;
}

.payment-img {
    width: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}
